body{
    background-color: #FDEFF4;
    text-align: center;
}

.dog-bottom{
    position:absolute;
    left:15%;
    bottom: 200px;
    opacity: 0.7;
}

.dog-top{
    opacity: 0.7;
    position:absolute;
    right: 15%;
    top:50px;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1{
    font-size: 3.5rem;
    color: #F6416C;
    font-family: "Dekko","Lucida Sans Typewriter", Lucida Console, Arial, serif;
    margin-top: 100px;
}

h2{
    font-size: 2rem;
    color: #F6416C;
    font-family: "Dekko","Lucida Sans Typewriter", Lucida Console, Arial, serif;
    margin-bottom: 0;
}

h3{
    color: #00B8A9;
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
    font-family: "Lucida Sans Typewriter", Lucida Console, Arial, serif;
}

.forms{
    background-color: orange;
    padding-top: 20px;
}

.lice{
    border-radius: 80%;
}

h3:hover{
    background-color: gold;
}

table{
    text-align: left;
}

.top-container{
    background-color: aquamarine;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
}

.qualidades-img{
    width: 20%;
    border-radius: 20%;
    float: left;
    margin-right: 2rem;
}

.qualidades-row{
    width: 80%;
    margin: 2rem auto;
    text-align: left;
    line-height: 1.5;
}

