body{
    background-color: #FDEFF4;
    text-align: center;
}

.dog-bottom{
    opacity: 0.7;
    object-fit: contain;
    max-width: 200px;
    align-items: flex-start;
}

div{
    word-wrap: break-word;
    font-size: 1rem;
    font-family: "Lucida Sans Typewriter", Lucida Console, Arial, serif;
}

.dog-top{
    opacity: 0.7;
    object-fit: contain;
    max-width: 200px;
    align-items: flex-start;
    /*position:absolute;
    right: 15%;
    top:50px;
    width:200px;*/
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1{
    font-size: 3.5rem;
    color: #F6416C;
    font-family: "Dekko","Lucida Sans Typewriter", Lucida Console, Arial, serif;
    /*margin-top: 100px;*/
}

h2{
    font-size: 2rem;
    color: #F6416C;
    font-family: "Dekko","Lucida Sans Typewriter", Lucida Console, Arial, serif;
    margin-bottom: 0;
}

h3{
    color: #00B8A9;
    font-size: 1.5rem;
}

.lice{
    margin: 2rem 0;
}

.notas{
    margin-top: 7rem;
}

p{
    font-size: 1rem;
    font-family: "Lucida Sans Typewriter", Lucida Console, Arial, serif;
}

.forms{
    background-color: orange;
    padding-top: 20px;
}

.lice{
    border-radius: 80%;
}

h3:hover{
    background-color: gold;
}

table{
    text-align: left;
}

.top-section{
    background-color: aquamarine;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.qualidades-img{
    /*width: 20%;*/
    flex: 2 1 200px;
    max-width: 300px;
    min-width: 200px;
    border-radius: 20%;
    margin-right: 2rem;
    margin-bottom: 2rem;
}

.qualidades-row{
    display: flex;
    /*flex-wrap: wrap;*/
    text-align: left;
    line-height: 1.5;
    width: 80%;
    justify-content: center;
    margin: 0 auto
}

.top-container{
    display: flex;
    width: 70%;
    justify-content: center;
    margin: 2rem auto;
}


@media screen and (max-width:990px) {
    .qualidades-row { flex-wrap: wrap;  }
    /*.qualidades-img:first-child { flex-basis: 50%; }*/
    .top-container{ flex-wrap: wrap;}
  }