
/* PALLETTES

https://colorhunt.co/palette/ff4646ff8585ffb396fff5c0
https://colorhunt.co/palette/364f6b3fc1c9f5f5f5fc5185

*/

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Happy+Monkey&display=swap");

body{
    background-color: #FDEFF4;
    text-align: center;
    margin:0;
}

.boy{
    background-color: #FBE5E5;
}

.boy-container{
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.boy-img{
    flex: 2 1 300px;
    min-width: 300px;
    border-radius: 20%;
    margin: 0 1.5rem 1.5rem;
}

.boy-text{
    text-align: left;
}

.checked{
    color: orange;
}

.dog-bottom{
    opacity: 1;
    object-fit: contain;
    max-width: 200px;
    align-items: flex-start;
}

div{
    word-wrap: break-word;
    font-size: 1rem;
    font-family: "Lucida Sans Typewriter", Lucida Console, Arial, serif;
}

.dog-top{
    opacity: 1;
    object-fit: contain;
    max-width: 200px;
    align-items: flex-start;
    /*position:absolute;
    right: 15%;
    top:50px;
    width:200px;*/
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1{
    font-size: 3.5rem;
    font-weight: lighter;
    color: #E60965;
    font-family: 'Fredoka One', cursive, "Dekko","Lucida Sans Typewriter", Lucida Console, Arial, serif;
    /*margin-top: 100px;*/
}

h2{
    font-size: 2rem;
    color: #364F6B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    padding-top: 1.5rem;
    max-width: 90%;
}

h3{
    color: #3FC1C9;
    font-family: "Dekko","Lucida Sans Typewriter", Lucida Console, Arial, serif;
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

.lice{
    margin: 2rem 0;
}

.notas{
    padding-top: 2rem;
    background-color: #FFF5C0;
}

.notas-carac{
    margin-bottom: 0.5rem;
}

p{
    font-size: 1rem;
    font-family: "Lucida Sans Typewriter", Lucida Console, Verdana, Arial, serif;
    color: #323232;
}

.forms{
    background-color: #F5F5F5;
    padding-top: 1rem;
}

.forms-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 1.5rem;
}

.lice{
    border-radius: 80%;
}

.notas-container{
    padding: 1rem 1rem;
}

h3:hover{
    background-color: gold;
}

table{
    text-align: left;
}

.top-section{
    background-color: #FBE5E5; /*#FFF5C0;*/
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.qualidades{
    background-color: #F5F5F5;
    padding-bottom: 2rem;
}

.qualidades-img{
    /*width: 20%;*/
    flex: 2 1 200px;
    max-width: 300px;
    min-width: 200px;
    border-radius: 20%;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-bottom: 0.8rem;
}

.qualidades-row-left{
    display: flex;
    /*flex-wrap: wrap;*/
    text-align: left;
    line-height: 1.5;
    width: 55%;
    justify-content: center;
    margin: 0 auto
}

.qualidades-row-right{
    display: flex;
    /*flex-wrap: wrap;*/
    text-align: left;
    line-height: 1.5;
    width: 55%;
    justify-content: center;
    margin: 0 auto;
}

.top-container{
    display: flex;
    width: 65%;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}


@media screen and (max-width:990px) {
    .qualidades-row-left { flex-wrap: wrap;  width:80%;}
    .qualidades-row-right { flex-wrap: wrap;  width:80%; flex-direction: column-reverse; margin: 1rem 1rem;}
    /*.qualidades-img:first-child { flex-basis: 50%; }*/
    .top-container{ flex-wrap: wrap;}
    .boy-container{flex-wrap: wrap;}
  }